<%- include('../partials/headers.ejs'); -%>
<link rel="stylesheet" href="../../styles/gallery.css" />
<link rel="stylesheet" href="../../styles/preloader.css" />

<div class="preloaderParent">
  <div class="preloader">
    <img src="preloader-assets/output-onlinegiftools(2).gif" alt="">
    <img src="preloader-assets/Group25(1).png" alt="">
  </div>
</div>
<div class="galleryArea">

<article class="flow">
    <h1 style="color:#a4771a" id="galleria">Gallery</h1>
    <!-- <p style="color:#a4771a">“A champion is someone who gets up when he can't.”</p> -->
    
    <div class="team">
      <ul class="auto-grid" role="list">
        <li >
          <a href="./cricket" class="profile">
            <h2 class="profile__name">Cricket</h2>
            <p style="text-align: right;">More images</p>
            <img alt="" src="https://i.pinimg.com/564x/57/2a/9b/572a9b96ba8315035fa7c3d5236c0a25.jpg" />
          </a>
        </li>

        <li>
          <a href="./basketball"class="profile">
            <h2 class="profile__name">Basketball</h2>
            <p style="text-align: right;">More images</p>
            <img alt="" src="https://wallpaperaccess.com/full/103188.jpg" />
          </a>
        </li>

        <li>
          <a href="./volleyball"  class="profile">
            <h2 class="profile__name">Volleyball</h2>
            <p style="text-align: right;">More images</p>
            <img alt="" src="https://wallpaperaccess.com/thumb/2060984.jpg" />
          </a>
        </li>

        <li>
          <a href="./badminton" class="profile">
            <h2 class="profile__name">Badminton</h2>
            <p style="text-align: right;">More images</p>
            <img alt="" src="https://wallpapercave.com/dwp2x/wp6567726.jpg" />
          </a>
        </li>

        <li>
          <a href="./athletics" class="profile">
            <h2 class="profile__name">Athletics</h2>
            <p style="text-align: right;">More images</p>
            <img alt="" src="https://wallpapercave.com/wp/wc1725563.jpg" />
          </a>
        </li>

        <li>
          <a href="./football" class="profile">
            <h2 class="profile__name">Football</h2>
            <p style="text-align: right;">More images</p>
            <img alt="" src="https://wallpapers.com/images/featured/cristiano-ronaldo-hd-4k-x3tsmbnqwgi5024j.jpg" />
          </a>
        </li>

      </ul>
    </div>
  </article>
  <%-include('../partials/footers')-%>
</div>


<script>
  setInterval(()=>{
    document.querySelector('.preloader').classList.add('hidden');
    document.querySelector('.preloaderParent').style.backgroundColor = 'transparent';
          document.querySelector('.preloaderParent').style.zIndex = "-1";
  },1000)
</script>
