z<footer class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Address</h4>
             <p style="color: #fff;">Sports Office, IIT ISM<br> Rani Bandh, Hirapur, Sardar Patel Nagar, Dhanbad, Jharkhand 826004</p>
                
            </div>
            <div class="footer-col">
                <h4>Phone</h4>
                <p style="color: #fff;">Overall Coordinator:<br>+91 7742384052</p>
                <p style="color: #fff;">Coordinator:<br>+91 7668432573</p>
            </div>
            <div class="footer-col">
                <h4>Email</h4>
                <a href="mailto:parakram@iitism.ac.in" target="_blank" style="color:#b27f1d;">
                    parakram@iitism.ac.in 
                </a><br>
                <a href="mailto:sponsorship.parakram@iitism.ac.in" target="_blank" style="color: #b27f1d;">
                    sponsorship.parakram@iitism.ac.in
                </a>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <a href="https://www.facebook.com/parakram.iitism"><i class="bi bi-facebook" style="font-size: 2rem; color: cornflowerblue;margin: 0.5rem;"></i></a>
                <a href="https://twitter.com/parakram2012"><i class="bi bi-twitter" style="font-size: 2rem; color: cornflowerblue;margin: 0.5rem;"></i></a>
                <a href="https://www.instagram.com/parakram.iitism"><i class="bi bi-instagram" style="font-size: 2rem; color: cornflowerblue;margin: 0.5rem;"></i></a>
                <a href="https://in.linkedin.com/company/parakram-iit-ism-dhanbad"><i class="bi bi-linkedin" style="font-size: 2rem; color: cornflowerblue;margin: 0.5rem;"></i></a>
            </div>
        </div>
    </div>
</footer>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</body>

</html>