<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Address</h4>
             <p style="color: #fff;">SAC, IIT ISM<br> Rani Bandh, Hirapur, Sardar Patel Nagar, Dhanbad, Jharkhand 826004</p>
                
            </div>
            <div class="footer-col">
                <h4>Phone</h4>
                <p style="color: #fff;">Overall Coordinator:<br>+91 9239797318-Abcd</p>
                <p style="color: #fff;">Coordinator:<br>+91 9239797318-Abcd</p>
            </div>
            <div class="footer-col">
                <h4>Email</h4>
                <a href="mailto:president@iitism.ac.in" target="_blank" style="color:#b27f1d">
                 Email Us
             </a>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>

</html>