<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
    <title>Prakram</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <header class="rah">
        <input type ="checkbox" name ="" id ="chk1">
        <div class="logo"><img src="logo.jpg" alt="" style="width:50px"></div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="./templates/events.html">Events</a></li>
                <li><a href="./templates/team.html">Team</a></li>
                <li><a href="./gallery-folder/gallery.html">Gallery</a></li>
                <li><a href="#footer">Contact</a></li>
            </ul>
            <div class="menu">
                <label for="chk1">
                    <i class="fa fa-bars"></i>
                </label>
            </div>
    </header>
