<%- include('./partials/headers'); -%>

<link rel="stylesheet" href="styles/contact.css">

<div id="contact-body">
    <div class="overall_cordi">
 
     <div class="heading">
       <h1>Overall Coordinators</h1>
     </div>
 
     <div class="container">
       <div class="card">
         <div class="face face1">
           <div class="contacts-content">
             <span class="stars"></span>
             <h1 class="card1">Overall Coordinator</h1>
             <p class="card1 small white">
               
                   Raj Kumar  &nbsp   &nbsp &nbsp &nbsp &nbsp +917742384052 <br>
                   <!-- Prakhar Pratap Mall  &nbsp &nbsp +918875209440<br>
                   Maria Rose Paliyam &nbsp &nbsp +919493235700 -->
           </p>
           </div>
         </div>
         <div class="face face2">
           <h2>Overall Coordinator</h2>
         </div>
       </div>
 
       <div class="card">
         <div class="face face1">
           <div class="contacts-content">
             <span class="stars"></span>
             <h1 class="card1">Coordinator</h1>
             <p class="card1 small white">
               
                   Nimesh Kumar tiwari  &nbsp   &nbsp &nbsp +917668432573 <br>
                   <!-- Prakhar Pratap Mall  &nbsp &nbsp +918875209440<br>
                   Maria Rose Paliyam &nbsp &nbsp +919493235700 -->
           </p>
           </div>
         </div>
         <div class="face face2">
           <h2>Coordinator</h2>
         </div>
       </div>
          
 
       <!-- <div class="card">
         <div class="face face1">
           <div class="contacts-content">
             <span class="stars"></span>
             <h1 class="card1">Athletics</h1>
             <p class="card1 small white">
               
                   Akshay Kumar  &nbsp   &nbsp &nbsp &nbsp &nbsp +918877958119 <br>
                   Prakhar Pratap Mall  &nbsp &nbsp +918875209440<br>
                   Maria Rose Paliyam &nbsp &nbsp +919493235700
           </p>
           </div>
         </div>
         <div class="face face2">
           <h2>Athletics</h2>
         </div>
       </div> -->
 
       <!-- <div class="card">
         <div class="face face1">
           <div class="contacts-content">
             <span class="stars"></span>
             <h1 class="card1">Athletics</h1>
             <p class="card1 small white">
               
                   Akshay Kumar  &nbsp   &nbsp &nbsp &nbsp &nbsp +918877958119 <br>
                   Prakhar Pratap Mall  &nbsp &nbsp +918875209440<br>
                   Maria Rose Paliyam &nbsp &nbsp +919493235700
           </p>
           </div>
         </div>
         <div class="face face2">
           <h2>Athletics</h2>
         </div>
       </div> -->
       
     </div>
    </div>
 
 
   <div class="event_cordies">
   <div class="heading">
     <h1>Event Coordinator Contacts</h1>
   </div>
     <div class="container" style="align-items: center;">
 
         <div class="card" style="align-items: center;">
           <div class="face face1">
             <div class="contacts-content" style="align-items: center;">
               <span class="stars"></span>
               <h1 class="card1" id="contacts-athletics">Athletics</h1>
               <p class="card1 small white">
                 
                     Akshay Kumar  &nbsp   &nbsp &nbsp &nbsp &nbsp +918877958119 <br>
                     Prakhar Pratap Mall  &nbsp &nbsp +918875209440<br>
                     Maria Rose Paliyam &nbsp &nbsp +919493235700
             </p>
             </div>
           </div>
           <div class="face face2">
             <h2>Athletics</h2>
           </div>
         </div>
 
 
 
         <div class="card">
             <div class="face face1">
               <div class="contacts-content">
                 <span class="stars"></span>
                 <h1 class="card1">Badminton</h1>
                 <p class="card1 white small">
                 G. Karthik &nbsp &nbsp +917893690412
               </p>
               </div>
             </div>
             <div class="face face2">
               <h2>Badminton</h2>
             </div>
           </div>
 
 
           <div class="card">
             <div class="face face1">
               <div class="contacts-content">
                 <span class="stars"></span>
                 <h1 class="card1">Basketball</h1>
                 <p class="card1 white small">
                  Nikhil Shingne &nbsp &nbsp +919764293061
               </p>
               </div>
             </div>
             <div class="face face2">
               <h2>Basketball</h2>
             </div>
           </div>
 
           <div class="card">
             <div class="face face1">
               <div class="contacts-content">
                 <span class="stars"></span>
                 <h1 class="card1">Football</h1>
                 <p class="card1 white small">
                   Victor &nbsp &nbsp +916299056709
               </p>
               </div>
             </div>
             <div class="face face2">
               <h2>Football</h2>
             </div>
           </div>
 
 
           <div class="card">
             <div class="face face1">
               <div class="contacts-content">
                 <span class="stars"></span>
                 <h1 class="card1">Cricket</h1>
                 <p class="card1 white small">
                   Swami Amit Gangadhar &nbsp; +917709686051
               </p>
               </div>
             </div>
             <div class="face face2">
               <h2>Cricket</h2>
             </div>
           </div>
 
           <div class="card">
             <div class="face face1">
               <div class="contacts-content">
                 <span class="stars"></span>
                 <h1 class="card1">Chess</h1>
                 <p class="card1 white small">
                  Gaurav Gupta &nbsp &nbsp +916299443736
               </p>
               </div>
             </div>
             <div class="face face2">
               <h2>Chess</h2>
             </div>
           </div>
 
 
           <div class="card">
             <div class="face face1">
               <div class="contacts-content">
                 <span class="stars"></span>
                 <h1 class="card1">Lawn Tennis</h1>
                 <p class="card1 white small">
                   S. Harshada Das&nbsp &nbsp +917319595044
               </p>
               </div>
             </div>
             <div class="face face2">
               <h2>Lawn Tennis</h2>
             </div>
           </div>
 
           <div class="card">
             <div class="face face1">
               <div class="contacts-content">
                 <span class="stars"></span>
                 <h1 class="card1">Table Tennis</h1>
                 <p class="card1 white small">
                   Chirag Gajana &nbsp &nbsp +918949042210
               </p>
               </div>
             </div>
             <div class="face face2">
               <h2>Tabble Tennis</h2>
             </div>
           </div>
 
 
           <div class="card">
             <div class="face face1">
               <div class="contacts-content">
                 <span class="stars"></span>
                 <h1 class="card1">Hockey</h1>
                 <p class="card1 white small">
                  Amrish Kumar &nbsp &nbsp +919129951665
               </p>
               </div>
             </div>
             <div class="face face2">
               <h2>Hockey</h2>
             </div>
           </div>
 
 
 
           <div class="card">
             <div class="face face1">
               <div class="contacts-content">
                 <span class="stars"></span>
                 <h1 class="card1">Weight Lifting</h1>
                 <p class="card1 white small">
                  Apurn Shandilya &nbsp &nbsp +919334241142
               </p>
               </div>
             </div>
             <div class="face face2">
               <h2>Weight  Lifting</h2>
             </div>
           </div>
 
 
           <div class="card">
             <div class="face face1">
               <div class="contacts-content">
                 <span class="stars"></span>
                 <h1 class="card1">Squash</h1>
                 <p class="card1 white small">
                   Mukul Kulshreshtha&nbsp &nbsp +919457027037
               </p>
               </div>
             </div>
             <div class="face face2">
               <h2>Squash</h2>
             </div>
           </div>
 
 
           <div class="card">
             <div class="face face1">
               <div class="contacts-content">
                 <span class="stars"></span>
                 <h1 class="card1">Boxing</h1>
                 <p class="card1 white small">
                  Nischay Kumar&nbsp &nbsp +919162731113
               </p>
               </div>
             </div>
             <div class="face face2">
               <h2>Boxing</h2>
             </div>
           </div>
 
           <div class="card">
             <div class="face face1">
               <div class="contacts-content">
                 <span class="stars"></span>
                 <h1 class="card1">Karate</h1>
                 <p class="card1 white small">
                     Akarapu Bhageerath &nbsp &nbsp +919849316766
                 </p>
               </p>
               </div>
             </div>
             <div class="face face2">
               <h2>Karate</h2>
             </div>
           </div>
 
 
           <div class="card">
             <div class="face face1">
               <div class="contacts-content">
                 <span class="stars"></span>
                 <h1 class="card1">Kabaddi</h1>
                 <p class="card1 white small">
                   Jigar Galsar&nbsp &nbsp +919409220822
               </p>
               </div>
             </div>
             <div class="face face2">
               <h2>Kabaddi</h2>
             </div>
           </div>
 
           <div class="card">
             <div class="face face1">
               <div class="contacts-content">
                 <span class="stars"></span>
                 <h1 class="card1">Volleyball</h1>
                 <p class="card1 white small">
                   Mayoor Vora Paliwal&nbsp &nbsp +918770853121
               </p>
               </div>
             </div>
             <div class="face face2">
               <h2>Volleyball</h2>
             </div>
           </div>
 
           <div class="card">
             <div class="face face1">
               <div class="contacts-content">
                 <span class="stars"></span>
                 <h1 class="card1">Powerlifting</h1>
                 <p class="card1 white small">
                  Satyaveer Singh&nbsp &nbsp +91 6396924514
               </p>
               </div>
             </div>
             <div class="face face2">
               <h2>Powerlifting</h2>
             </div>
           </div>
       </div>
   </div>
</div>
 <%-include('./partials/footers')-%>
