<%- include('./partials/headers'); -%>

<link href="/styles/sponsor.css" rel="stylesheet" type="text/css" />

<div id="sponsor-page">
  <!-- <div class="sponsor-category" id="title-sponsor">
    <h1 class="glow">Title Sponsor</h1>
    <div id="title-sponsor-container">
      <div class="logo-card">
        <a target="_blank" href="http://www.w3.org/2000/svg">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div id="title-sponsor-description">This is a sample description for a sample title sponsor.</div>
    </div>
  </div> -->

  <!-- If added current sponsors, add platinum-sponsor id to below div and remove title-sponsor id from there -->
  <div class="sponsor-category" id="title-sponsor">
    <h1 class="glow">Past Event Sponsors</h1>
    <div class="sponser-container">
      <div class="logo-card">
        <a target="_blank" href="https://www.redbull.com/in-en/">
          <img
            src="https://resources.redbull.com/logos/redbullcom/v3/redbullcom-logo.svg"
            alt="logo"
          />
          <!-- <span>Sample@gmail.com</span> -->
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="https://colorsyouth.org/">
          <img src="Images/logos/ColorsYouth.jpg" alt="logo" />
          <!-- <span>Sample@gmail.com</span> -->
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="https://www.tata.com/">
          <img src="Images/logos/tata.png" alt="logo" />
          <!-- <span>Sample@gmail.com</span> -->
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="https://www.onlinesbi.sbi/">
          <img src="Images/logos/SBI.jpg" alt="logo" />
          <!-- <span>Sample@gmail.com</span> -->
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="https://www.myvi.in/">
          <img src="Images/logos/vodafone.png" alt="logo" />
          <!-- <span>Sample@gmail.com</span> -->
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="https://www.dominos.co.in/">
          <img src="Images/logos/dominos.png" alt="logo" />
          <!-- <span>Sample@gmail.com</span> -->
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="https://www.lensfit.com/">
          <img src="Images/logos/lensfit.png" alt="logo" />
          <!-- <span>Sample@gmail.com</span> -->
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="https://www.pepsi.com/">
          <img src="Images/logos/pepsi.png" alt="logo" />
          <!-- <span>Sample@gmail.com</span> -->
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="https://iocl.com/">
          <img src="Images/logos/Indian_oil.png" alt="logo" />
          <!-- <span>Sample@gmail.com</span> -->
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="https://www.pantaloons.com/">
          <img src="Images/logos/pantaloons.png" alt="logo" />
          <!-- <span>Sample@gmail.com</span> -->
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="http://www.ril.com/">
          <img src="Images/logos/Reliance.png" alt="logo" />
          <!-- <span>Sample@gmail.com</span> -->
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="https://www.cairnindia.com/Pages/Home.aspx">
          <img src="Images/logos/cairn.png" alt="logo" />
          <!-- <span>Sample@gmail.com</span> -->
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="https://canarabank.com/">
          <img src="Images/logos/canara_bank.png" alt="logo" />
          <!-- <span>Sample@gmail.com</span> -->
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="https://ojas.gujarat.gov.in/">
          <img src="Images/logos/ojas.png" alt="logo" />
          <!-- <span>Sample@gmail.com</span> -->
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="https://www.shell.com/">
          <img src="Images/logos/shell.png" alt="logo" />
          <!-- <span>Sample@gmail.com</span> -->
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="https://www.sail.co.in/en/home">
          <img src="Images/logos/sail.png" alt="logo" />
          <!-- <span>Sample@gmail.com</span> -->
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="https://www.gailonline.com/">
          <img src="Images/logos/gail.png" alt="logo" />
          <!-- <span>Sample@gmail.com</span> -->
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="https://volvo.com/">
          <img src="Images/logos/volvo.jpg" alt="logo" />
          <!-- <span>Sample@gmail.com</span> -->
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="https://amswan.co/pages/about-us">
          <img src="Images/logos/american_swan.png" alt="logo" />
          <!-- <span>Sample@gmail.com</span> -->
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="https://www.ntpc.co.in/">
          <img src="Images/logos/ntpc.png" alt="logo" />
          <!-- <span>Sample@gmail.com</span> -->
        </a>
      </div>
    </div>
  </div>

  <!-- <div class="sponsor-category" id="gold-sponsor">
    <h1 class="glow">Gold Sponsors</h1>
    <div class="sponser-container">
      <div class="logo-card">
        <a target="_blank" href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
    </div>
  </div>

  <div class="sponsor-category" id="silver-sponsor">
    <h1 class="glow">Silver Sponsors</h1>
    <div class="sponser-container">
      <div class="logo-card">
        <a target="_blank" href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
    </div>
  </div> -->

  <!-- <div class="sponsor-category" id="bronze-sponsor">
    <h1 class="glow">Bronze Sponsors</h1>
    <div class="sponser-container">
      <div class="logo-card">
        <a target="_blank" href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a target="_blank" href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
    </div>
  </div> -->
</div>

<%- include('./partials/footers'); -%>
