<%- include('./partials/headers'); -%>

<link href="/styles/sponsor.css" rel="stylesheet" type="text/css" />

<div id="sponsor-page">
  <div class="sponsor-category" id="title-sponsor">
    <h1 class="glow">Title Sponsor</h1>
    <div id="title-sponsor-container">
      <div class="logo-card">
        <a href="http://www.w3.org/2000/svg">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div id="title-sponsor-description">This is a sample description for a sample title sponsor.</div>
    </div>
  </div>

  <div class="sponsor-category" id="platinum-sponsor">
    <h1 class="glow">Platinum Sponsors</h1>
    <div class="sponser-container">
      <div class="logo-card">
        <a href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
    </div>
  </div>

  <div class="sponsor-category" id="gold-sponsor">
    <h1 class="glow">Gold Sponsors</h1>
    <div class="sponser-container">
      <div class="logo-card">
        <a href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
    </div>
  </div>

  <div class="sponsor-category" id="silver-sponsor">
    <h1 class="glow">Silver Sponsors</h1>
    <div class="sponser-container">
      <div class="logo-card">
        <a href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
    </div>
  </div>

  <div class="sponsor-category" id="bronze-sponsor">
    <h1 class="glow">Bronze Sponsors</h1>
    <div class="sponser-container">
      <div class="logo-card">
        <a href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
      <div class="logo-card">
        <a href="http://">
          <img src="Images/google.svg" alt="logo" />
          <span>Sample@gmail.com</span>
        </a>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footers'); -%>
