<%- include('./partials/headers'); -%>

<div id="sponsor-page">
  <link href="/styles/sponsor.css" rel="stylesheet" type="text/css" />

  <div class="sponsor-category" id="title-sponsor">
    <h1>Title Sponsor</h1>
    <div id="title-sponsor-container">
      <div id="logo-card">
        <a href="http://">
          <img src="" alt="logo" />
          <span>_____@gmail.com</span>
        </a>
      </div>
      <div id="title-sponsor-description">This is a sample description for a sample title sponsor.</div>
    </div>
  </div>

  <div class="sponsor-category" id="platinum-sponsor">
    <h1>Platinum Sponsors</h1>
    <div class="sponser-container">
      <div id="logo-card">
        <a href="http://">
          <img src="" alt="logo" />
          <span>_____@gmail.com</span>
        </a>
      </div>
      <div id="logo-card">
        <a href="http://">
          <img src="" alt="logo" />
          <span>_____@gmail.com</span>
        </a>
      </div>
      <div id="logo-card">
        <a href="http://">
          <img src="" alt="logo" />
          <span>_____@gmail.com</span>
        </a>
      </div>
      <div id="logo-card">
        <a href="http://">
          <img src="" alt="logo" />
          <span>_____@gmail.com</span>
        </a>
      </div>
      <div id="logo-card">
        <a href="http://">
          <img src="" alt="logo" />
          <span>_____@gmail.com</span>
        </a>
      </div>
      <div id="logo-card">
        <a href="http://">
          <img src="" alt="logo" />
          <span>_____@gmail.com</span>
        </a>
      </div>
    </div>
  </div>

  <div class="sponsor-category" id="gold-sponsor">
    <h1>Gold Sponsors</h1>
    <div class="sponser-container">
      <div id="logo-card">
        <a href="http://">
          <img src="" alt="logo" />
          <span>_____@gmail.com</span>
        </a>
      </div>
      <div id="logo-card">
        <a href="http://">
          <img src="" alt="logo" />
          <span>_____@gmail.com</span>
        </a>
      </div>
      <div id="logo-card">
        <a href="http://">
          <img src="" alt="logo" />
          <span>_____@gmail.com</span>
        </a>
      </div>
      <div id="logo-card">
        <a href="http://">
          <img src="" alt="logo" />
          <span>_____@gmail.com</span>
        </a>
      </div>
    </div>
  </div>

  <div class="sponsor-category" id="silver-sponsor">
    <h1>Silver Sponsors</h1>
    <div class="sponser-container">
      <div id="logo-card">
        <a href="http://">
          <img src="" alt="logo" />
          <span>_____@gmail.com</span>
        </a>
      </div>
      <div id="logo-card">
        <a href="http://">
          <img src="" alt="logo" />
          <span>_____@gmail.com</span>
        </a>
      </div>
      <div id="logo-card">
        <a href="http://">
          <img src="" alt="logo" />
          <span>_____@gmail.com</span>
        </a>
      </div>
      <div id="logo-card">
        <a href="http://">
          <img src="" alt="logo" />
          <span>_____@gmail.com</span>
        </a>
      </div>
    </div>
  </div>

  <div class="sponsor-category" id="bronze-sponsor">
    <h1>Bronze Sponsors</h1>
    <div class="sponser-container">
      <div id="logo-card">
        <a href="http://">
          <img src="" alt="logo" />
          <span>_____@gmail.com</span>
        </a>
      </div>
      <div id="logo-card">
        <a href="http://">
          <img src="" alt="logo" />
          <span>_____@gmail.com</span>
        </a>
      </div>
      <div id="logo-card">
        <a href="http://">
          <img src="" alt="logo" />
          <span>_____@gmail.com</span>
        </a>
      </div>
      <div id="logo-card">
        <a href="http://">
          <img src="" alt="logo" />
          <span>_____@gmail.com</span>
        </a>
      </div>
    </div>
  </div>
</div>

<%- include('./partials/footers'); -%>
