html{
    background-color: black;
}
.wrapper{
    position: absolute;
    top:45%;
    left:30%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    width: 30%;
}
.flame{
    filter: drop-shadow(2px -4px 1px #C03131) url(#fire);
    -webkit-filter: drop-shadow(2px -4px 1px #C03131) url(#fire);
}

.flameAnimate{
    width: 0;
    height: 0;
}
path{
    stroke-width: 3;
    stroke-miterlimit: 10;
    stroke-dasharray: 1800;
    opacity: 10;
    animation: animate 3s cubic-bezier(0, 0.23, 1, .1);
    -webkit-animation: animate 3s cubic-bezier(0, 0.23, 1, .1);
}
.logo{
    fill:url(#paint126_linear_204_2);
    stroke: url(#paint126_linear_204_2);
}
.letters{
    fill:#E13737;
    stroke: #E13737;
}
/* .pletters{
    animation: animate1 1s cubic-bezier(0, 0.23, 1, .1);
    -webkit-animation: animate1 1s cubic-bezier(0, 0.23, 1, .1);
    animation-delay: 2s;
} */

@keyframes animate {
    0%{
        opacity: 0;
        fill: none;
        stroke-dashoffset: 1800;
    }
    30%{
        opacity: 10;
        fill: none;
        stroke-dashoffset: 1800;
    }
}


@keyframes animate1 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 10;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #088178;
	height: 2px;
	box-sizing: border-box;
	width: 100px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}






