#logo-card a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  /* background-color: aliceblue; */
}
#logo-card {
  width: 300px;
  margin: 20px 0;
}

.sponsor-category h1 {
  text-align: center;
  color: #bb851e;
  padding: 20px;
  margin: 40px 0 10px 0;
}

#sponsor-page {
  background-image: url("../Images/bg-sponsor-9.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 35px;
}

/* .glow {
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
} */

/* @keyframes glow {
  from {
    text-shadow: 0 0 10px #bb841e86, 0 0 15px #bb841e5f;
  }
  to {
    text-shadow: 0 0 10px #bb841e57, 0 0 15px #ffee826d;
  }
} */

.sponser-container, #title-sponsor-container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.5) !important;
  box-shadow: 0 8px 32px 0 #bb841e71;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 0 150px;
}

#sponsor-page {
  margin: 0;
  color: white;
  background-color: #0d0d0d;
}

/* #title-sponsor-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
} */
#title-sponsor-description {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#title-sponsor h1{
  margin-top: 0;
}
@media only screen and (max-width: 868px) {
  #title-sponsor-container {
    flex-direction: column;
  }
}
